.config/zsh/.histfile
.local/bin/zaparoo
.config/zsh/.zshrc
.config/zsh/.z*
.config/fontconfig/conf.d/10-hm-fonts.conf
.config/fontconfig/conf.d/52-hm-default-fonts.conf
.config/btop/themes/noctalia.theme
.config/hypr-thinkpad/noctalia/noctalia-colors.conf
.config/hypr-thinkpad/hyprtoolkit.conf
.config/yazi/flavors/noctalia.yazi/flavor.toml
.config/foot/themes/noctalia
.config/niri/noctalia.kdl
.config/zsh/.zshenv
*.bak
/.config/alacritty/themes/noctalia.toml
/.config/hypr-avell/hyprtoolkit.conf
/.config/hypr-avell/noctalia/noctalia-colors.conf
/.config/yazi/flavors/noctalia.yazi/tmtheme.xml
