binds {
    // Mod-Shift-/, which is usually the same as Mod-?,
    Mod+Slash { show-hotkey-overlay; }
    Mod+T hotkey-overlay-title="Open a Terminal: foot" { spawn "foot"; }
    Mod+Z hotkey-overlay-title="Open Zed Editor" { spawn "zeditor"; }
    Mod+B hotkey-overlay-title="Open a Browser: Zen Browser" { spawn-sh "flatpak run app.zen_browser.zen"; }
    Mod+Ctrl+F hotkey-overlay-title="Open File Browser" {
        spawn "nautilus";
    }

    Mod+O repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }
    Mod+F5 repeat=false hotkey-overlay-title="Restart Noctalia" {
        spawn-sh "pkill .quickshell-wra && sleep 0.3 && noctalia-shell";
    }

    XF86AudioPlay allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext allow-when-locked=true { spawn-sh "playerctl next"; }


    // DISPLAY MANAGEMENT
    XF86Display allow-when-locked=true hotkey-overlay-title="Turn on builtin monitor" {
        spawn-sh "niri msg output eDP-1 on";
    }

    Mod+Alt+Up allow-when-locked=true hotkey-overlay-title="HDMI monitor only" {
        spawn-sh "niri msg output eDP-1 off && niri msg output HDMI-A-2 on";
    }

    Mod+Alt+Down allow-when-locked=true hotkey-overlay-title="Builtin monitor only" {
        spawn-sh "niri msg output eDP-1 on && niri msg output HDMI-A-2 off";
    }

    // Move Ext Right (Laptop at 0, Ext at Laptop width)
    Mod+Alt+Right hotkey-overlay-title="Extend screen to the right" {
        spawn-sh "niri msg output eDP-1 on && niri msg output HDMI-A-2 on && sleep 0.1 && W=$(niri msg outputs | awk '/eDP-1/{getline; print $3}' | cut -dx -f1) && niri msg output eDP-1 position set 0 0 && niri msg output HDMI-A-2 position set $W 0"

    }

    // Move Ext Left (Ext at 0, Laptop at Ext width)
    Mod+Alt+Left hotkey-overlay-title="Extend screen to the left" {
        spawn-sh "niri msg output eDP-1 on && niri msg output HDMI-A-2 on && sleep 0.1 && W=$(niri msg outputs | awk '/HDMI-A-2/{getline; print $3}' | cut -dx -f1) && niri msg output HDMI-A-2 position set 0 0 && niri msg output eDP-1 position set $W 0"
    }

    // WINDOW MANAGEMENT
    Mod+Left  { focus-column-or-monitor-left; }
    Mod+Down  { focus-window-or-workspace-down; }
    Mod+Up    { focus-window-or-workspace-up; }
    Mod+Right { focus-column-or-monitor-right; }
    Mod+H     { focus-column-or-monitor-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-or-monitor-right; }
    Mod+A     { focus-column-or-monitor-left; }
    Mod+S     { focus-window-or-workspace-down; }
    Mod+W     { focus-window-or-workspace-up; }
    Mod+D     { focus-column-or-monitor-right; }

    Mod+Shift+Left  { move-column-left-or-to-monitor-left; }
    Mod+Shift+Down  { move-window-down-or-to-workspace-down; }
    Mod+Shift+Up    { move-window-up-or-to-workspace-up; }
    Mod+Shift+Right { move-column-right-or-to-monitor-right; }
    Mod+Shift+H     { move-column-left-or-to-monitor-left; }
    Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    Mod+Shift+K     { move-window-up-or-to-workspace-up; }
    Mod+Shift+L     { move-column-right-or-to-monitor-right; }
    Mod+Shift+A     { move-column-left-or-to-monitor-left; }
    Mod+Shift+S     { move-window-down-or-to-workspace-down; }
    Mod+Shift+W     { move-window-up-or-to-workspace-up; }
    Mod+Shift+D     { move-column-right-or-to-monitor-right; }

    Mod+Alt+H       { focus-monitor-left; }
    Mod+Alt+L       { focus-monitor-right; }
    Mod+Shift+Alt+H { move-column-to-monitor-left; }
    Mod+Shift+Alt+L { move-column-to-monitor-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End  { move-column-to-last; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Shift+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Shift+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    // Usually scrolling up and down with Shift in applications results in
    // horizontal scrolling; these binds replicate that.
    Mod+Ctrl+WheelScrollDown        cooldown-ms=150 { focus-column-right; }
    Mod+Ctrl+WheelScrollUp          cooldown-ms=150 { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown  cooldown-ms=150 { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp    cooldown-ms=150 { move-column-left; }

    // Similarly, you can bind touchpad scroll "ticks".
    // Touchpad scrolling is continuous, so for these binds it is split into
    // discrete intervals.
    // These binds are also affected by touchpad's natural-scroll, so these
    // example binds are "inverted", since we have natural-scroll enabled for
    // touchpads by default.
    // Mod+TouchpadScrollDown { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+"; }
    // Mod+TouchpadScrollUp   { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }

    // You can refer to workspaces by index. However, keep in mind that
    // niri is a dynamic workspace system, so these commands are kind of
    // "best effort". Trying to refer to a workspace index bigger than
    // the current workspace count will instead refer to the bottommost
    // (empty) workspace.
    //
    // For example, with 2 workspaces + 1 empty, indices 3, 4, 5 and so on
    // will all refer to the 3rd workspace.
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-window-to-workspace 1; }
    Mod+Shift+2 { move-window-to-workspace 2; }
    Mod+Shift+3 { move-window-to-workspace 3; }
    Mod+Shift+4 { move-window-to-workspace 4; }
    Mod+Shift+5 { move-window-to-workspace 5; }
    Mod+Shift+6 { move-window-to-workspace 6; }
    Mod+Shift+7 { move-window-to-workspace 7; }
    Mod+Shift+8 { move-window-to-workspace 8; }
    Mod+Shift+9 { move-window-to-workspace 9; }

    // Switches focus between the current and the previous workspace.
    // Mod+Tab { focus-workspace-previous; }

    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    Mod+Comma  { consume-or-expel-window-left; }
    Mod+Period { consume-or-expel-window-right; }

    // Cycle through widths set in preset-column-widths.
    Mod+R { switch-preset-column-width; }
    // Cycling through the presets in reverse order is also possible.
    Mod+Shift+R { switch-preset-column-width-back; }

    Mod+Alt+R { switch-preset-window-height; }
    Mod+Alt+Shift+R { reset-window-height; }

    // Mod+F { maximize-column; }
    Mod+F { expand-column-to-available-width; }
    Mod+M { maximize-window-to-edges; }
    F11 { fullscreen-window; }

    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    // Finer width adjustments.
    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
    // set-column-width "100" will make the column occupy 200 physical screen pixels.
    Mod+Minus { set-column-width "-1%"; }
    Mod+Equal { set-column-width "+1%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-1%"; }
    Mod+Shift+Equal { set-window-height "+1%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+V       { toggle-window-floating; }
    Alt+Tab     { switch-focus-between-floating-and-tiling; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Shift+Escape allow-inhibiting=false {
        toggle-keyboard-shortcuts-inhibit;
    }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Mod+Shift+P { power-off-monitors; }

    Mod+P hotkey-overlay-title="Power profile cycle" {
        spawn-sh "noctalia-shell ipc call powerProfile cycle";
    }

    Mod+Alt+A hotkey-overlay-title="Toggle animations" {
        spawn-sh "~/dotfiles/.config/niri/scripts/toggle-animation.sh"
    }

    // Core Noctalia binds
    Mod+Space hotkey-overlay-title="Open Launcher" { spawn-sh "noctalia-shell ipc call launcher toggle"; }
    XF86Tools hotkey-overlay-title="Open Control Center" { spawn-sh "noctalia-shell ipc call controlCenter toggle"; }
    Mod+XF86Tools hotkey-overlay-title="Open Settings" { spawn-sh "noctalia-shell ipc call settings toggle"; }

    XF86AudioRaiseVolume { spawn "noctalia-shell" "ipc" "call" "volume" "increase"; }
    XF86AudioLowerVolume { spawn "noctalia-shell" "ipc" "call" "volume" "decrease"; }
    XF86AudioMute { spawn "noctalia-shell" "ipc" "call" "volume" "muteOutput"; }
    XF86AudioMicMute { spawn "noctalia-shell" "ipc" "call" "volume" "muteInput"; }

    XF86MonBrightnessUp { spawn "noctalia-shell" "ipc" "call" "brightness" "increase"; }
    XF86MonBrightnessDown { spawn "noctalia-shell" "ipc" "call" "brightness" "decrease"; }

    Mod+Escape hotkey-overlay-title="Session Menu" { spawn-sh "noctalia-shell ipc call sessionMenu toggle"; }

    Mod+N hotkey-overlay-title="View Notifications" { spawn-sh "noctalia-shell ipc call notifications toggleHistory"; }
    Mod+E hotkey-overlay-title="Emoji" { spawn-sh "noctalia-shell ipc call launcher emoji"; }

    Mod+Print { spawn-sh "noctalia-shell ipc call plugin:screen-toolkit toggle"; }
}
