// https://kdl.dev
// "/-" comments out the following node.
// https://niri-wm.github.io/niri/Configuration:-Introduction

spawn-sh-at-startup "swaybg -i /home/majunior/Pictures/Wallpapers/wp12329535-nixos-wallpapers.png"
spawn-at-startup "noctalia-shell"
spawn-at-startup "wayland-pipewire-idle-inhibit"
spawn-at-startup "ianny"
spawn-sh-at-startup "input-remapper-control --command autoload"

prefer-no-csd

// https://niri-wm.github.io/niri/Configuration:-Input
input {
    keyboard {
        repeat-rate 30
        repeat-delay 250
        xkb {
            layout "br"
            variant "thinkpad"
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
        accel-speed 0
        accel-profile "flat"
    }

    mouse {
        // off
        accel-speed 0
        accel-profile "flat"
    }

    // "0%" makes it work only on windows already fully on screen.
    focus-follows-mouse max-scroll-amount="5%"
    // warp-mouse-to-focus

    trackpoint {
        // off
        // natural-scroll
        accel-speed 0.5
        accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }
}

// https://niri-wm.github.io/niri/Configuration:-Layout
layout {
    gaps 4 // logical pixels
    center-focused-column "never" // always, on-overflow
    preset-column-widths { // toggle with Mod+R
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }
    preset-window-heights { // toggle with Mod+Alt+R
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }
    tab-indicator {
        hide-when-single-tab
    }
    default-column-width {
        // proportion 0.5;
    }
    focus-ring { // border outside the window
        off
        width 1.5
    }
    border { // border inside the window
        on
        width 1.5
    }
    shadow {
        off
        softness 0
        spread 4
        offset x=0 y=0
    }
}

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// https://niri-wm.github.io/niri/Configuration:-Animations
animations {
    off
    slowdown 0.8 // percentage
}

// https://niri-wm.github.io/niri/Configuration:-Window-Rules

// All windows
window-rule {
    // rounded corners
    geometry-corner-radius 4
    clip-to-geometry true
    // layer behind windows
    draw-border-with-background false
}

// Floating PIP on browsers
window-rule {
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id=r#"app.zen_browser.zen$"# title="^Picture-in-Picture$"
    match app-id=r#"org.qt-project.qml"#
    match title=r"^DEBUG"
    open-floating true
}

window-rule {
    match app-id=r#"foot$"#
    match app-id=r#"org.gnome.Nautilus$"#
    default-column-width { fixed 700; } // nvim at ~80 col
    // default-window-height { fixed 600; }
    opacity 0.9
    background-effect {
        xray true
        blur true
    }
    open-floating false
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// Set the overview wallpaper on the backdrop.
layer-rule {
    match namespace="^noctalia-overview*"
    place-within-backdrop true
}

include "./binds.kdl"
include "./monitors.kdl"
include "./noctalia.kdl"
